body {
    background-color: ;
}
h1 {

    color
}



table, td, th {
    border: 5px solid rgba(58, 47, 47, 0.966);
    border-collapse: collapse;  
    padding: 15px;
    border-spacing: 3px;
    margin-top: 85px;
    text-align: center;
 
}





